#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/
.metadata

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/

#Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Arquivos e pastas de cache
.import/
.export/
godot/tmp/

# Arquivos de backup e temporários
*.tmp
*.converted.*
*.bak
*.backup
*~

# Arquivos de log e debug
*.log

# Arquivos de builds exportados
*.exe
*.apk
*.pck
*.zip
*.x86_64
*.dmg
*.tar.gz

# Arquivos ocultos de sistemas operacionais
.DS_Store
Thumbs.db

# Pasta do editor Godot que pode ser criada localmente
.editor/

# Godot 4 specific (alguns builds e cache extra)
.godot/